@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-dark: #0f172a;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-white transition-colors duration-300;
}